.collection {
    padding: 80px 0;
}

.collection__title {
    margin-bottom: 60px;
}

.collection__title h3 {
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}

.collection__title h5 {
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}

.collection__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}


@media (max-width: 835px) {
    .collection {
        padding: 40px 0;
    }

    .collection__title {
        margin-bottom: 40px;
    }

    .collection__title h3 {
        font-size: 28px;
        line-height: 140%;
    }

    .collection__title h5 {
        font-size: 16px;
        line-height: 140%;
    }

    .collection__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 475px) {
    .collection__cards {
        grid-template-columns: repeat(1, 1fr);
    }
}